.mat-icon.mat-warn {
    color: coral;
}

.bandeau {
    padding-right: 5px;
}

.menuitem {

    margin: 0!important;
    padding: 0!important;
    min-width: 36px;

}
.mat-menu-panel  {
    position: relative!important;
    left: -120px!important;
}
#menu-alerte {
    max-width: 50px;
    margin-right: Opx;
}

#menu-pseudo {
    font-size: 0.9em;
}

