<mat-card fxFlex="initial" fxLayout="column" fxLayoutGap="20px">

    <h4 fxFlex>Position de mon ami(e):</h4>
    <mat-card-content fxFlex fxLayout="column" fxLayoutGap="5px">
        <ng-container *ngIf="position; else PositionNonConnue">
            <div fxFlex="initial"><b>latitude:</b> {{position.latitude}}</div>
            <div fxFlex="initial"><b>longitude:</b> {{position.longitude}}</div>
            <div fxFlex="initial"><b>timestamp:</b> {{position.timestamp}}</div>
        </ng-container>
    </mat-card-content>

    <ng-template #PositionNonConnue>
        <p>Position inconnue!</p>
    </ng-template>

</mat-card>