<div class="container" fxLayout="column" fxLayoutAlign="start center">
    <h2 fxFlex>Mes options</h2>


    <div fxFlex="auto" fxLayout="column" fxLayoutAlign="start start" id="option-container">

        <div fxFlex id="get-alert-label">Recevoir une alerte pour :</div>

        <div fxFlex="initial" fxLayout="row wrap" style="align-items: baseline;">
            <mat-checkbox fxFlex [(ngModel)]="clearTrajet" (change)="onClearTrajetChange($event)">
                supprimer les trajets anciens&nbsp;&nbsp;
            </mat-checkbox>
            <mat-form-field fxFlex id="nb-days-input" appearance="legacy" name="days">
                <span matPrefix>de plus de&nbsp;</span>
                <input matInput minlength="1" [(ngModel)]="trajetdays" [required]="clearTrajet"
                    (change)="onTrajetDaysChange($event)" [readonly]="!clearTrajet">

                <span matSuffix>jours</span>
            </mat-form-field>
        </div>

        <mat-checkbox fxFlex="initial" [(ngModel)]="alerteMiseRelation" disabled
            (change)="onAlerteMiseRelationChange($event)">
            une demande de mise en relation
        </mat-checkbox>


        <mat-checkbox fxFlex="initial" [(ngModel)]="alerteStartTrajet" disabled
            (change)="onAllerteStartTrajetChange($event)">
            lors du démarrage d'un trajet d'un ami
        </mat-checkbox>

    </div>

</div>
<app-notification *ngIf="response" [message]="response"></app-notification>