#option-container {
    font-size: small; 
    border-color: aliceblue;
    border-style: groove;
    border-width: 1;
    padding: 10px;
}

#get-alert-label {
    font-size: large;
    margin-bottom: 20px;
    margin-top:30px;
}

#nb-days-input{
    width: 120px;
    max-width: 120px; 
}