<div class="container" fxLayout fxLayout="column" fxLayoutAlign="start center">
  <h2 fxFlex>Démarrer un nouveau trajet</h2>

  <mat-button-toggle-group #group="matButtonToggleGroup" fxFlex="initial">

    <mat-button-toggle fxFlex="initial" *ngFor="let mean of trajetMeansEnum">
      <app-trajet-means-icon [trajetMean]="mean" [taille]="48" (click)="onSelect(mean)"></app-trajet-means-icon>
    </mat-button-toggle>


  </mat-button-toggle-group>

  <h3 fxFlex>Type: {{diplaySelectedMeanDescription()}}</h3>

  <div fxFlex fxLayout fxLayout="column" fxLayoutGap="10px">

    <div fxFlex [style.display]="nouveauTrajet? 'block':'none'">
      <app-trajet-duree #timer [trajetEnCours]="nouveauTrajet"></app-trajet-duree>
    </div>

    <div fxFlex fxLayout fxLayoutAlign="center" fxLayoutGap="10px">

      <button fxFlex mat-raised-button color="primary" *ngIf="selectedMean && nouveauTrajet == null"
        (click)="demarrerNouveauTrajet()">Démarrer un trajet</button>
      <button fxFlex mat-raised-button color="accent" *ngIf="nouveauTrajet && nouveauTrajet.etat != 'Ended'"
        (click)="arreterTrajet()">Arrêter le trajet</button>
    </div>

    <!--liste des amis à notifier-->
    <div fxFlex *ngIf="nouveauTrajet == null || (nouveauTrajet && nouveauTrajet.etat != 'Ended')">
      <app-amis-notifier></app-amis-notifier>
    </div>

  </div>


</div>