<h2>Démarrer un nouveau trajet</h2>

<div class="means">

  <span class="ico" *ngFor="let mean of trajetMeansEnum" [class.selected]="mean == selectedMean">
    <app-trajet-means-icon [trajetMean]="mean" [taille]="48" (click)="onSelect(mean)"></app-trajet-means-icon>
  </span>

</div>

<h3>Type: {{diplaySelectedMeanDescription()}}</h3>

<div>


  <div [style.display]="nouveauTrajet? 'block':'none'">
    <app-trajet-duree #timer [trajetEnCours]="nouveauTrajet"></app-trajet-duree>
  </div>

  <div style="margin-top: 30px;">
    <button *ngIf="selectedMean && nouveauTrajet == null" style="background-color: lightgreen;"
      (click)="demarrerNouveauTrajet()">Démarrer un trajet</button>
    <button *ngIf="nouveauTrajet && nouveauTrajet.etat != 'Ended'"
      style="background-color: orangered; margin-left: 10px;" (click)="arreterTrajet()">Arrêter le trajet</button>
  </div>

  <!--liste des amis à notifier-->
  <div>
    <app-amis-notifier [amis]="chercherListAmis()"></app-amis-notifier>
  </div>