<div class="container" fxLayout fxLayout="column" fxLayoutAlign="start center">
  <h2 fxFlex>Démarrer un nouveau trajet</h2>

  <div fxFlex fxLayout fxLayoutAlign="center" fxLayoutGap="10px">

    <span class="ico" *ngFor="let mean of trajetMeansEnum" [class.selected]="mean == selectedMean">
      <app-trajet-means-icon [trajetMean]="mean" [taille]="48" (click)="onSelect(mean)"></app-trajet-means-icon>
    </span>

  </div>

  <h3 fxFlex>Type: {{diplaySelectedMeanDescription()}}</h3>

  <div fxFlex fxLayout fxLayout="column" fxLayoutGap="10px">

    <div fxFlex [style.display]="nouveauTrajet? 'block':'none'">
      <app-trajet-duree #timer [trajetEnCours]="nouveauTrajet"></app-trajet-duree>
    </div>

    <div fxFlex fxLayout fxLayoutAlign="center" fxLayoutGap="10px">

      <button fxFlex mat-raised-button *ngIf="selectedMean && nouveauTrajet == null"
        style="background-color: lightgreen;" (click)="demarrerNouveauTrajet()">Démarrer un trajet</button>
      <button fxFlex mat-raised-button *ngIf="nouveauTrajet && nouveauTrajet.etat != 'Ended'"
        style="background-color: orangered;" (click)="arreterTrajet()">Arrêter le trajet</button>
    </div>

    <!--liste des amis à notifier-->
    <div fxFlex *ngIf="nouveauTrajet == null || (nouveauTrajet && nouveauTrajet.etat != 'Ended')">
      <app-amis-notifier></app-amis-notifier>
    </div>

  </div>


</div>