<ng-container *ngIf="appPosition; else noPosition">
    <mat-card fxFlex="initial" fxLayout="column" fxLayoutGap="20px">

        <h4 fxFlex>{{titre}}</h4>
        <mat-card-content fxFlex fxLayout="column" fxLayoutGap="5px">
            <div fxFlex="initial"><b>latitude:</b> {{appPosition.latitude}}</div>
            <div fxFlex="initial"><b>longitude:</b> {{appPosition.longitude}}</div>
            <div fxFlex="initial"><b>date:</b> {{displayDate()}}&nbsp;&nbsp;{{displayTime()}}</div>

            <ng-container *ngIf="showLienToMaps">
                <mat-dialog-actions fxFlex fxLayout="column" fxLayoutGap="10px">
                    <a target="_blank" rel="noopener noreferrer" [href]="urlToMaps"
                        class="mat-raised-button mat-primary">
                        <mat-icon class="icon-map material-icons md-24">location_on</mat-icon>
                        Voir la carte
                    </a>
                </mat-dialog-actions>
            </ng-container>

        </mat-card-content>

    </mat-card>


</ng-container>

<ng-template #noPosition>
    <h4>Pas de position connue!</h4>
</ng-template>