<ng-container *ngIf="appPosition">
    <mat-card fxFlex="initial" fxLayout="column" fxLayoutGap="20px">

        <h4 fxFlex>{{titre}}</h4>
        <mat-card-content fxFlex fxLayout="column" fxLayoutGap="5px">
            <div fxFlex="initial"><b>latitude:</b> {{appPosition.latitude}}</div>
            <div fxFlex="initial"><b>longitude:</b> {{appPosition.longitude}}</div>
            <div fxFlex="initial"><b>timestamp:</b> {{appPosition.timestamp}}</div>

            <a target="_blank" rel="noopener noreferrer" [href]="urlToMaps">
                <mat-icon class="icon-map material-icons md-48" color="accent">location_on</mat-icon>
                Voir la carte
            </a>

        </mat-card-content>

    </mat-card>
</ng-container>