<mat-card fxFlex="initial" fxLayout="column" fxLayoutGap="20px">

    <h4 fxFlex>{{titre}}</h4>
    <mat-card-content fxFlex fxLayout="column" fxLayoutGap="5px">

        <ng-container *ngIf="appPosition; else noPosition">
            <div fxFlex="initial"><b>latitude:</b> {{appPosition.latitude}}</div>
            <div fxFlex="initial"><b>longitude:</b> {{appPosition.longitude}}</div>
            <div fxFlex="initial"><b>date:</b> {{displayDate()}}&nbsp;&nbsp;{{displayTime()}}</div>
        </ng-container>


        <mat-dialog-actions fxFlex fxLayout fxLayoutGap="10px">
            <div *ngIf="url" fxFlex="auto" class="mat-raised-button mat-primary" (click)="openMaps()"
                style="cursor: pointer; padding: 5px;">
                <mat-icon class="icon-map material-icons md-24">location_on</mat-icon>
                Carte
            </div>
            <button *ngIf="actionButton" fxFlex="auto" class="mat-raised-button" (click)="clickAction()"
                style="cursor: pointer; padding: 5px;">{{actionButton}}</button>
        </mat-dialog-actions>

    </mat-card-content>

</mat-card>


<ng-template #noPosition>
    <mat-card *ngIf="!initEnCours" fxFlex="initial" fxLayout="column" fxLayoutGap="20px"
        style="background-color: pink;">
        <mat-card-content fxFlex fxLayout="column" fxLayoutGap="5px">
            <div>Pas de position connue!</div>
            <div *ngIf="geoMessage" class="mat-primary">
                <h4>{{geoMessage.msg}}</h4>
            </div>
        </mat-card-content>
    </mat-card>
</ng-template>