<div class="container" fxLayout fxLayout.lt-md="column" fxLayoutAlign="center" fxLayoutGap="50px"
    fxLayoutGap.lt-md="10px">

    <!-- liste de mes trajets -->
    <div fxFlex="initial" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="20px">
        <h2 fxFlex>Mes trajets</h2>

        <div fxFlex fxLayout fxLayout="column" fxLayoutGap="20px" fxLayoutGap.xs="10px" fxLayoutAlign="start none">
            <mat-card fxFlex *ngFor="let trajet of trajets" [class.selected]="trajet === selectedTrajet"
                (click)="onSelect(trajet)">

                <span>
                    <app-trajet-means-icon class="icon" [trajetMean]="trajet.mean"></app-trajet-means-icon>
                    <app-trajet-state-icon class="icon" [trajetState]="trajet.etat"></app-trajet-state-icon>
                    <span style="padding: 10px;">{{trajet.etat}}</span>
                    <span style="padding: 10px;">{{getStartOrEndDate(trajet.id)}}</span>
                </span>

                <span class="icon" title="suppression du trajet" *ngIf="trajet.etat == 'Ended'"
                    (click)="supprimerTrajet(trajet)">
                    <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24"
                        width="24">
                        <path d="M0 0h24v24H0V0z" fill="none" />
                        <path
                            d="M16 9H8v10h8V9zm-.47 7.12l-1.41 1.41L12 15.41l-2.12 2.12-1.41-1.41L10.59 14l-2.13-2.12 1.41-1.41L12 12.59l2.12-2.12 1.41 1.41L13.41 14l2.12 2.12z"
                            opacity=".3" />
                        <path
                            d="M14.12 10.47L12 12.59l-2.13-2.12-1.41 1.41L10.59 14l-2.12 2.12 1.41 1.41L12 15.41l2.12 2.12 1.41-1.41L13.41 14l2.12-2.12zM15.5 4l-1-1h-5l-1 1H5v2h14V4zM6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM8 9h8v10H8V9z" />
                    </svg>
                </span>

            </mat-card>
        </div>
        <div>Aujourd'hui nous sommes le {{today}}</div>

    </div>

    <!-- détail-->
    <div fxFlex="initial" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="20px" *ngIf="selectedTrajet">

        <h2 fxFlex="initial">Détail du trajet</h2>
        <app-trajet-detail fxFlex="initial" [trajetDetail]="selectedTrajet" (eventMessage)="onMessage($event)"
            (eventChangeState)="onChangeState($event)">
        </app-trajet-detail>

        <!--liste des amis à notifier-->
        <div fxFlex="initial" *ngIf="selectedTrajet && selectedTrajet.etat != 'Ended'">
            <app-amis-notifier [amis]="chercherListAmis()"></app-amis-notifier>
        </div>
        <app-notification fxFlex="initial" *ngIf="response" fxFlex [message]="response"></app-notification>
    </div>


</div>