<div class="content">
    <h2>Mes trajets</h2>

        
        <!-- liste de mes trajets -->
        <div>
        
            <ul class="trajets">
                <li *ngFor="let trajet of trajets" 
                [class.selected]="trajet === selectedTrajet" 
                (click)="onSelect(trajet)">
                    <span class="badge">{{trajet.id}}</span>
                    <app-trajet-means-icon [trajetMean]="trajet.mean"></app-trajet-means-icon>
                    <app-trajet-state-icon [trajetState]="trajet.etat"></app-trajet-state-icon>
                    <span style="padding: 10px;">{{trajet.etat}}</span>
                    <span style="padding: 10px;">{{getStartOrEndDate(trajet.id)}}</span>
                </li>
            </ul>

        </div>

        <!-- ami selectionné  (eventChangeState)="onChangeState($event)"-->
        <app-trajet-detail *ngIf="selectedTrajet" [trajetDetail] = "selectedTrajet" ></app-trajet-detail>

    
      <div>Aujourd'hui nous sommes le {{today}}</div>

</div>