.trajet-icon {
    position: relative;
    top: 4px;
}
.mat-table {
     background:beige;
     padding-top: 10px; 
     padding-bottom: 10px; 
}

.mat-row {
    border-style: none;
    margin-top: 5px;    
    margin-bottom: 5px;    
}
.mat-header-row{
    display: none;
}

.mat-paginator {
    background: beige;
}
.mat-cell:first-of-type, mat-header-cell:first-of-type, mat-footer-cell:first-of-type {
    padding-left: 5px;
}
.mat-cell:last-of-type, mat-header-cell:last-of-type, mat-footer-cell:last-of-type {
    padding-right: 5px;
}
