<div class="container" fxLayout fxLayoutAlign="center start" fxLayoutGap="50px" fxLayout.lt-md="column"
    fxLayoutGap.lt-md="50px" fxLayoutAlign.lt-md="center center">


    <!-- COL1 filtre et liste amis-->
    <div fxFlex="initial" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="40px">
        <h2 fxFlex>Mes amis</h2>

        <!-- Ajouter un ami -->
        <button fxFlex mat-raised-button color="primary" name="ajouter" (click)="openDialogLancerInvitation()">Ajouter
            un ami</button>


        <!-- filtre-->
        <div fxFlex="initial">
            <mat-radio-group [(ngModel)]="selectedFilter" name="radioGpFilter" (change)="onRadioChange($event)">
                <mat-radio-button value="valide" title="relations valides">valide</mat-radio-button>
                <mat-radio-button value="aValider" title="relations à valider">à valider</mat-radio-button>
                <mat-radio-button value="refuse" title="relations refusées">refusée</mat-radio-button>
            </mat-radio-group>
        </div>

        <!-- liste des amis -->
        <div fxFlex="initial" fxLayout="column" fxLayoutAlign="start none" fxLayoutGap="20px">
            <table fxFlex mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                <!-- définition d'une colonne-->
                <ng-container matColumnDef="item">
                    <mat-header-cell *matHeaderCellDef>Amis</mat-header-cell>
                    <mat-cell *matCellDef="let ami">

                        <mat-card class="card" [class.card-selected]="ami === selectedAmi" (click)="onSelect(ami)"
                            style="width: 100%;">

                            <mat-card-header fxLayout fxLayoutGap="10px" fxLayoutAlign="start center">
                                <app-ami-state-icon fxFlex="initial" [amiState]="ami.etat"></app-ami-state-icon>
                                <span fxFlex="grow">{{ami.pseudo}}</span>
                                <app-ami-suivi-icon fxFlex="initial" [suivre]="ami.suivre" [notifier]="ami.notifier"
                                    [size]="16">
                                </app-ami-suivi-icon>
                            </mat-card-header>

                        </mat-card>

                    </mat-cell>
                </ng-container>

                <!--lignes de la table-->
                <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: tableColumns"></mat-row>

            </table>
            <mat-paginator fxFlex [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons hidePageSize></mat-paginator>
        </div>

    </div>

    <ng-container *ngIf="selectedAmi">


        <!-- COL2  Detail ami -->
        <div fxFlex="initial" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="20px" *ngIf="selectedAmi">

            <!--si relation valide-->
            <ng-container *ngIf="selectedAmi.etatrelation == 'open'; else showrelation">

                <!-- détail d'un ami  -->
                <h3 fxFlex>Mon ami(e)</h3>
                <app-ami-detail fxFlex="auto" [amiDetail]="selectedAmi" (eventMessage)="onMessage($event)"
                    (eventDelete)="onDelete($event)" (eventSuivre)="onSuivre($event)">
                </app-ami-detail>

            </ng-container>

            <!--détail de la relation si pending ou fermée-->
            <ng-template #showrelation>
                <app-ami-relation fxFlex="auto" [amiDetail]="selectedAmi" (eventMessage)="onMessage($event)"
                    (eventUpdateRelation)="onUpdateRelation($event)">
                </app-ami-relation>
            </ng-template>


        </div>

        <!-- COL3  Detail trajet ami -->
        <!--si conditions sont remplies: ami autorise que je suive son déplacement -->
        <ng-container *ngIf="selectedAmi.suivre && suivreTrajetAmiAutorise; else suiviNonAutorise">

            <div fxFlex="initial" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="20px" *ngIf="selectedAmi">

                <!--Detail trajet de l'ami -->
                <app-ami-trajet fxFlex="auto" [amiDetail]="selectedAmi" (eventMessage)="onMessage($event)">
                </app-ami-trajet>

                <!-- Geolocation ami -->
                <app-ami-geolocation fxFlex="auto" *ngIf="selectedAmiTrajet" [amiTrajet]="selectedAmiTrajet">
                </app-ami-geolocation>

            </div>
        </ng-container>

        <!-- message si pas autorisation suivi -->
        <ng-template #suiviNonAutorise>
            <div fxFlex="initial" *ngIf="selectedAmi && selectedAmi.suivre && !suivreTrajetAmiAutorise">
                <div class="bloc-reponse" [style.background-color]="'lightcoral'">
                    <p>Mon ami {{selectedAmi.pseudo}} <br> ne m'a pas autorisé à suivre son trajet !</p>
                </div>

            </div>
        </ng-template>

    </ng-container>

</div>

<app-notification *ngIf="response" [message]="response"></app-notification>