<div class="container" fxLayout fxLayout.lt-md="column" fxLayoutAlign="center" fxLayoutGap="50px"
    fxLayoutGap.lt-md="10px">


    <!-- liste des amis -->
    <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="20px">
        <h2 fxFlex>Mes amis</h2>

        <mat-radio-group fxFlex [(ngModel)]="selectedFilter">
            <mat-radio-button value="valides">uniquement relation validée</mat-radio-button>
            <mat-radio-button value="tous">tous</mat-radio-button>
        </mat-radio-group>


        <div fxFlex>
            <div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="start none">
                <mat-card class="card" fxFlex *ngFor="let ami of (amis | amiFilter : selectedFilter)"
                    [class.card-selected]="ami === selectedAmi" (click)="onSelect(ami)">

                    <mat-card-header fxLayout fxLayoutGap="10px" fxLayoutAlign="start center">
                        <app-ami-state-icon fxFlex="initial" [amiState]="ami.etat"></app-ami-state-icon>
                        <span fxFlex="grow">{{ami.pseudo}}</span>
                        <app-ami-suivi-icon fxFlex="initial" [suivre]="ami.suivre" [notifier]="ami.notifier"
                            [size]="16">
                        </app-ami-suivi-icon>
                    </mat-card-header>

                </mat-card>
            </div>

        </div>

    </div>

    <!-- détail d'un ami -->
    <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="20px" *ngIf="selectedAmi">

        <app-ami-detail fxFlex="auto" [amiDetail]="selectedAmi" (eventMessage)="onMessage($event)">
        </app-ami-detail>
    </div>

</div>

<app-notification *ngIf="response" [message]="response"></app-notification>