<div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="start center">

    <h2 fxFlex="initial" mat-dialog-title>{{title}}</h2>

    <mat-dialog-content fxFlex="initial">

        <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="start center">
            <div fxFlex="initial">{{message}}</div>
            <div fxFlex="initial"><b>login</b>: {{login}}</div>
            <div fxFlex="initial"><b>pseudo</b>: {{pseudo}}</div>
        </div>
        <div fxLayout="column" fxLayoutGap="50px" fxLayoutAlign="end center">
            <h4>{{redirectmessage}}</h4>
        </div>

    </mat-dialog-content>

    <mat-dialog-actions fxFlex="initial">
        <button class="mat-raised-button mat-primary" (click)="continuer()">Continuer</button>
    </mat-dialog-actions>

</div>