<!-- Toolbar -->
<div class="bandeau mat-toolbar mat-primary" fxLayout fxLayoutAlign="none center" fxLayoutGap="20px" role="banner">

  <!--go accueil-->
  <div fxFlex="initial" aria-label="Accès à la page principale" color="basic" title="Accueil" routerLink="/go-accueil"
    routerLinkActive="active" style="cursor: pointer;">
    <mat-icon class="home-icon material-icons md-48">home</mat-icon>
  </div>
  <h3 fxFlex="1 1 auto">{{title}}</h3>

  <!--geolocation -->
  <!-- <a fxFlex="initial" title="géo-localisation" (click)="showDialogGeolocation()" style="cursor: pointer;">
    <mat-icon class="material-icons md-24" title="{{getGeolocationIconTitle()}}" color="{{getGeolocationColor()}}">
      location_on</mat-icon>
  </a> -->
  <button mat-button class="menuitem" title="géo-localisation" (click)="showDialogGeolocation()">
    <mat-icon title="{{getGeolocationIconTitle()}}" color="{{getGeolocationColor()}}">location_on</mat-icon>
  </button>

  <!--usage du reseau -->
  <!-- <div fxFlex="initial" title="Usage du réseau">
    <mat-icon class="material-icons md-24" title="{{getNetworkIconTitle()}}" color="{{getNetworkColor()}}">network_check
    </mat-icon>
  </div> -->
  <button mat-button class="menuitem" title="Etat du réseau" [matMenuTriggerFor]="networkmenu">
    <mat-icon title="{{getNetworkIconTitle()}}" color="{{getNetworkColor()}}">network_check</mat-icon>
    <mat-menu #networkmenu="matMenu">
      <button mat-menu-item disabled>
        <mat-icon color="{{getNetworkColor()}}">network_check</mat-icon>
        {{getNetworkIconTitle()}}
      </button>
    </mat-menu>
  </button>


  <button mat-button class="menuitem" [matMenuTriggerFor]="moremenu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #moremenu="matMenu">
    <button *ngIf="loggedIn" mat-menu-item>
      <mat-icon>miscellaneous_services</mat-icon>Options
    </button>
    <button *ngIf="loggedIn" mat-menu-item>
      <mat-icon>person</mat-icon>Compte
    </button>
    <button *ngIf="loggedIn" mat-menu-item>
      <mat-icon>article</mat-icon>Journal
    </button>

    <!--go logout-->
    <button *ngIf="loggedIn" mat-menu-item aria-label="déconnection" title="Logout" (click)="logout()">
      <mat-icon class="material-icons md-24" color="accent">toggle_off</mat-icon>logout
    </button>
    <!--go login-->
    <button *ngIf="!loggedIn" mat-menu-item routerLink="/go-login" aria-label="Accès à la page d'authentification"
      title="Login">
      <mat-icon class="material-icons md-24" color="accent">login</mat-icon>login
    </button>
  </mat-menu>

</div>

<div role="main">

  <!-- The routed views render in the <router-outlet>-->
  <router-outlet></router-outlet>

  <app-notification *ngIf="response" [message]="response"></app-notification>

  <!-- Footer -->
  <footer>
    <!--pied de page...-->
  </footer>

</div>