<!-- geo location (uniquement pour le trajet en cours)-->
<ng-container *ngIf="trajet && trajet.etat != 'Ended'">
    <app-geolocation> </app-geolocation>
</ng-container>


<!-- last position et fichier gpx d'un trajet terminé -->
<ng-container *ngIf="trajet && trajet.etat == 'Ended' && appPosition">

    <mat-card fxFlex="initial" fxLayout="column" fxLayoutGap="20px">

        <h4 fxFlex>Dernière position:</h4>
        <mat-card-content fxFlex fxLayout="column" fxLayoutGap="5px">

            <div fxFlex fxLayout="column" fxLayoutGap="5px" style="margin-bottom: 30px;">
                <div fxFlex="initial"><b>latitude:</b> {{appPosition.latitude}}</div>
                <div fxFlex="initial"><b>longitude:</b> {{appPosition.longitude}}</div>
                <div fxFlex="initial"><b>date:</b> {{displayDate()}}&nbsp;&nbsp;{{displayTime()}}</div>
            </div>
        </mat-card-content>

        <mat-dialog-actions fxFlex fxLayout="column" fxLayoutGap="10px">
            <a fxFlex="initial" target="_blank" rel="noopener noreferrer" class="mat-raised-button mat-primary"
                [href]="urlToMaps">
                <mat-icon class="icon-map material-icons md-24">location_on</mat-icon>
                Voir la carte
            </a>
            <a fxFlex="initial" *ngIf="gpxfile" class="mat-raised-button " (click)="download()">
                <mat-icon class="icon-map material-icons md-24" color="accent">archive</mat-icon>
                Télécharger {{gpxfile}}
            </a>
        </mat-dialog-actions>
    </mat-card>

</ng-container>