<div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="start center">

    <h2 fxFlex="grow">Ouverture d'un compte</h2>

    <form fxFlex="grow" fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="start center"
        [formGroup]="createAccountFormGroup" (ngSubmit)="onSubmit()">



        <mat-form-field fxFlex appearance="legacy">
            <mat-label>login</mat-label>
            <input matInput placeholder="login" formControlName="loginControl" required>
            <mat-hint>Au minimum 4 caractères</mat-hint>
            <mat-error *ngIf="loginControl.invalid">
                <div *ngIf="loginControl.errors.required">Le login est obligatoire!</div>
                <div *ngIf="loginControl.errors.minlength">minimum 4 caractères!</div>
                <div *ngIf="loginControl.errors.uniqueLogin">le login existe déjà!</div>
            </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex appearance="legacy">
            <mat-label>Mot de passe</mat-label>
            <input type="password" matInput placeholder="mot de passe" formControlName="password1Control" required>
            <mat-hint>Au minimum 4 caractères</mat-hint>
            <mat-error *ngIf="password1Control.invalid">
                <div *ngIf="password1Control.errors.required">Mot de passe obligatoire!!</div>
                <div *ngIf="password1Control.errors.minlength">minimum 4 caractères!</div>
            </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex appearance="legacy">
            <mat-label>Contrôle du mot de passe</mat-label>
            <input type="password" matInput placeholder="mot de passe" formControlName="password2Control" required>
            <mat-hint>mot de passe identique</mat-hint>
            <mat-error *ngIf="password2Control.invalid">
                <div *ngIf="password2Control.errors.required">Mot de passe obligatoire!</div>
                <div *ngIf="password2Control.errors.mustMatch"> mot de passe différent!</div>
            </mat-error>
        </mat-form-field>


        <mat-form-field fxFlex appearance="legacy">
            <mat-label>Pseudo</mat-label>
            <input matInput placeholder="pseudo" formControlName="pseudoControl" required>
            <mat-hint>Au minimum 6 caractères</mat-hint>
            <mat-error *ngIf="pseudoControl.invalid">
                <div *ngIf="pseudoControl.errors.required">Le pseudo est obligatoire!</div>
                <div *ngIf="pseudoControl.errors.minlength">minimum 6 caractères!</div>
                <div *ngIf="pseudoControl.errors.uniquePseudo">le pseudo existe déjà!</div>
            </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex appearance="legacy">
            <mat-label>email</mat-label>
            <input matInput placeholder="adresse mail" formControlName="emailControl" required>
            <mat-hint>monadress@monsite</mat-hint>
            <mat-error *ngIf="emailControl.invalid">
                <div *ngIf="emailControl.errors.required">L'adresse mail est obligatoire!</div>
                <div *ngIf="emailControl.errors.email">email invalid!</div>
                <div *ngIf="emailControl.errors.uniqueEmail">L'adresse mail existe déjà!</div>
            </mat-error>
        </mat-form-field>

        <div fxFlex="initial" fxLayout fxLayoutGap="20px" class="container">
            <button fxFlex="initial" class="mat-raised-button" (click)="annuler()">Annuler</button>
            <button fxFlex="initial" type="submit" class="mat-raised-button mat-primary"
                [disabled]="!createAccountFormGroup.valid">Création du compte</button>
        </div>

    </form>

    <div *ngIf="response" class="bloc-reponse" [style.background-color]="response.error?'lightcoral':'lightgreen'">
        <p>{{response.msg}}</p>
    </div>


</div>

<app-notification *ngIf="response" [message]="response"></app-notification>