<ng-container *ngIf="suivre || notifier">
    <div fxLayout fxLayoutGap="5px">
        <span fxFlex="initial" *ngIf="suivre" title="suivi du trajet de mon ami(e) activé...">
            <mat-icon class="material-icons md-48" color="accent">star</mat-icon>
        </span>

        <span fxFlex="initial" *ngIf="notifier" title="j'autorise mon ami(e) à suivre mes trajets...">
            <mat-icon class="material-icons md-48" color="primary">rss_feed</mat-icon>
        </span>

    </div>
</ng-container>