@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.container {

    margin-top: 30px;
}
.card:hover, .card-selected:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    cursor: pointer;
  }


.card-selected {
    background-color: lightgray !important;
  }