@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";


.container {

    margin-top: 30px;
}
.card:hover, .card-selected:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    cursor: pointer;
  }


.card-selected {
    background-color: lightgray !important;
  }


  .notification-container {
    background-color: lightgreen !important;
    color: darkslateblue;
   }

  .notification-error-container {
    background-color: lightcoral !important;
    color: darkslateblue;
   }