@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";


.container {

    margin-top: 30px;
}
.card:hover, .card-selected:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    cursor: pointer;
  }


.card-selected {
    background-color: lightgray !important;
  }


  .notification-container {
    background-color: lightgreen !important;
    color: darkslateblue;
   }

  .notification-error-container {
    background-color: lightcoral !important;
    color: darkslateblue;
   }

   /* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }