<div class="container" fxLayout fxLayout.lt-sm="column" fxLayoutAlign="center" fxLayoutGap="20px" fxLayoutGap.xs="10px">

  <!-- [flex-grow] [flex-shrink] flex-basis-->

  <!-- AMIS -->
  <mat-card class="card" fxFlex="initial" routerLink="/go-amis" routerLinkActive="active">
    <mat-card-header fxFlexLayout fxFlexLayoutAlign="center" fxFlexLayoutGap="5px">
      <mat-icon fxFlex="initial" class="material-icons md-48" color="primary">favorite</mat-icon>
      <mat-card-title fxFlex="grow">Mes amis</mat-card-title>
    </mat-card-header>
  </mat-card>

  <!-- TRAJETS -->
  <mat-card class="card" fxFlex="initial" routerLink="/go-trajets" routerLinkActive="active">
    <mat-card-header fxFlexLayout fxFlexLayoutAlign="center" fxFlexLayoutGap="5px">
      <mat-icon fxFlex="initial" class="material-icons md-48" color="primary">card_travel</mat-icon>
      <mat-card-title fxFlex="grow">Mes trajets</mat-card-title>
    </mat-card-header>
  </mat-card>

  <!-- NOUVEAU TRAJET -->
  <mat-card class="card" fxFlex="initial" *ngIf="dernierTrajet == null || dernierTrajet.etat == 'Ended'"
    routerLink="/go-starting" routerLinkActive="active">
    <mat-card-header fxFlexLayout fxFlexLayoutAlign="center" fxFlexLayoutGap="5px">
      <mat-icon fxFlex="initial" class="material-icons md-48" color="primary">flight_takeof</mat-icon>
      <mat-card-title fxFlex="grow">Commencer un trajet</mat-card-title>
    </mat-card-header>
  </mat-card>


</div>

<!-- DERNIER TRAJET -->
<div *ngIf="dernierTrajet" style="margin-top: 30px; text-align:center;">

  <h3 *ngIf="dernierTrajet.etat == 'Ended'">Mon dernier trajet</h3>
  <h3 *ngIf="dernierTrajet.etat != 'Ended'">Mon trajet en cours...</h3>

  <app-trajet-detail [trajetDetail]="dernierTrajet" (eventChangeState)="onChangeState($event)"
    (eventMessage)="onMessage($event)"></app-trajet-detail>
</div>

<app-notification *ngIf="response" [message]="response"></app-notification>