<div class="container" fxLayout fxLayout.lt-sm="column" fxLayoutAlign="center" fxLayoutAlign.lt-sm="start stretch"
  fxLayoutGap="20px" fxLayoutGap.xs="10px">

  <!-- [flex-grow] [flex-shrink] flex-basis-->

  <!-- AMIS -->
  <mat-card class="card" fxFlex="initial" routerLink="/go-amis" routerLinkActive="active">
    <mat-card-header fxLayout fxLayoutAlign="center" fxLayoutGap="5px">
      <mat-icon fxFlex="initial" class="material-icons md-24" color="primary">favorite</mat-icon>
      <mat-card-title fxFlex="grow">Mes amis</mat-card-title>
    </mat-card-header>
  </mat-card>

  <!-- TRAJETS -->
  <mat-card class="card" fxFlex="initial" routerLink="/go-trajets" routerLinkActive="active">
    <mat-card-header fxLayout fxLayoutAlign="center" fxLayoutGap="5px">
      <mat-icon fxFlex="initial" class="material-icons md-24" color="primary">card_travel</mat-icon>
      <mat-card-title fxFlex="grow">Mes trajets</mat-card-title>
    </mat-card-header>
  </mat-card>

  <!-- NOUVEAU TRAJET -->
  <nf-container *ngIf="dernierTrajet === undefined || dernierTrajet == null || dernierTrajet.etat == 'Ended'">
    <mat-card class="card" fxFlex="grow" routerLink="/go-starting" routerLinkActive="active">
      <mat-card-header fxLayout fxLayoutAlign="center" fxLayoutGap="5px">
        <mat-icon fxFlex="initial" class="material-icons md-24" color="primary">flight_takeof</mat-icon>
        <mat-card-title fxFlex="grow">Commencer un trajet</mat-card-title>
      </mat-card-header>
    </mat-card>
  </nf-container>

</div>

<!-- DERNIER TRAJET -->
<div *ngIf="dernierTrajet" style="margin-top: 30px; text-align:center;">

  <app-trajet-detail [trajetDetail]="dernierTrajet" (eventMessage)="onMessage($event)"></app-trajet-detail>
</div>
<app-notification *ngIf="response" [message]="response"></app-notification>