.mat-table {
    background:beige;
    padding-top: 10px; 
    padding-bottom: 10px; 
  }
  
  .mat-row {
   border-style: none;
   margin-top: 5px;    
   margin-bottom: 5px;    
  }
  .mat-header-row{
   display: none;
  }
  
  .mat-paginator {
   background: beige;
  }
  