<div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="start center">

    <div fxFlex="initial" color="primary">
        <h2>Lancer une invitation</h2>
    </div>

    <div fxFlex="initial" fxLayout="column" fxLayoutAlign="start none" fxLayoutGap="20px">

        <div fxLayout fxLayoutAlign="center center">
            <mat-form-field fxFlex="40%">
                <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="rechercher">
            </mat-form-field>
        </div>
        <table fxFlex mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!-- définition d'une colonne-->
            <ng-container matColumnDef="item">
                <mat-header-cell *matHeaderCellDef>Amis</mat-header-cell>
                <mat-cell *matCellDef="let personne">

                    <mat-card class="card" fxFlex [class.card-selected]="personne === selectedPersonne"
                        (click)="onSelect(personne)">

                        <mat-card-header fxLayout fxLayoutGap="10px" fxLayoutAlign="start center">
                            <span fxFlex="grow">{{personne.pseudo}}</span>
                        </mat-card-header>

                    </mat-card>

                </mat-cell>
            </ng-container>

            <!--lignes de la table-->
            <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: tableColumns"></mat-row>

        </table>

        <mat-paginator fxFlex [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons hidePageSize></mat-paginator>
    </div>



    <!--<mat-dialog-content fxFlex="initial" fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="start center">

        <div fxFlex fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="start none">
            <mat-card class="card" fxFlex *ngFor="let personne of listPersonnes"
                [class.card-selected]="personne === selectedPersonne" (click)="onSelect(personne)">

                <mat-card-header fxLayout fxLayoutGap="10px" fxLayoutAlign="start center">
                    <span fxFlex="grow">{{personne.pseudo}}</span>
                </mat-card-header>

            </mat-card>
        </div>
    </mat-dialog-content>-->



</div>