<div class="content">
    <header class="card">
        <h3>{{amiDetail.pseudo }}</h3>
    </header>

    <div>
        <app-ami-state-icon [amiState]="amiDetail.etat"></app-ami-state-icon>
        {{amiDetail.etat}}
    </div>
    <div>
        <input type="checkbox" name="suivi" [ngModel]="amiDetail.suivre" (click)="updateSuivreAmi()" />Suivre le trajet
    </div>
    <div>
        <input type="checkbox" name="notifier" [ngModel]="amiDetail.notifier" (click)="updateNotifierAmi()" />Envoyer
        les notifications
    </div>
</div>